@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-moss-green: #606c38ff;
    --pakistan-green: #283618ff;
    --cornsilk: #fefae0ff;
    --earth-yellow: #dda15eff;
    --tigers-eye: #bc6c25ff;
}

body, button{
    font-family: "Oldenburg", system-ui;
}

body{
    box-sizing: border-box;

    background-image: url("./media/forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0;
}

header {
    display: flex;
    background-color: var(--pakistan-green);
    padding: 20px 0 0 0 ;

    min-height: 100px;
}

ul {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;


    list-style-type: none;

    width: 100%;
    gap: 20px;
    margin: 0;
    padding: 0;
}

li {
    width: min(90%, 300px);
    margin-top: auto;
}

button {
    font-size: clamp(1em, 2vw, 1.5em);
    text-align: center;

    background-color: var(--dark-moss-green);
    color: var(--cornsilk);


    padding: 15px;
    width: 100%;
    border: 0;

    border-radius: 20px 20px 0 0;
    margin-top: auto;
}

button:hover{
    background-color: var(--pakistan-green);

    border-top: 2px solid var(--earth-yellow);
    border-left: 2px solid var(--earth-yellow);
    border-right: 2px solid var(--earth-yellow)
}

/* for js generated dom elements */
.mainBg{
    background-color: var(--pakistan-green);

    margin: 100px auto 0 auto;
    width: 80%;
    padding: 30px;
}

.mainTitle{
    display: flex;

    align-items: center;
    justify-content: space-between;

    font-size: clamp(2em, 5vw, 5em);
    color: var(--cornsilk);
    background-color: var(--tigers-eye);

    gap: 20px;
    padding-right: 10px;

    border: 2px solid var(--cornsilk);
}

.log{
    background-image: url("./media/log.svg");

    width: 100px;
    height: 100px;

    background-size: contain;
    background-repeat: no-repeat;
}

.description{
    font-size: clamp(1em, 3vw, 2em);
    text-align: center;
    
    color: var(--cornsilk);

    background-color: var(--dark-moss-green);

    padding: 20px;

    flex: 1;
}

