@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-moss-green: #606c38ff;
    --pakistan-green: #283618ff;
    --cornsilk: #fefae0ff;
    --earth-yellow: #dda15eff;
    --tigers-eye: #bc6c25ff;
}

body, button{
    font-family: "Oldenburg", system-ui;
}

body{
    box-sizing: border-box;

    background-image: url("./media/forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0;
}

header {
    background-color: var(--pakistan-green);
    height: 80px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;

    height: inherit;

    gap: 80px;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: baseline;
    height: inherit;
}

button {
    font-size: 1.5em;

    background-color: var(--dark-moss-green);
    color: var(--cornsilk);


    padding: 15px;
    width: 200px; 
    border: 0;

    border-radius: 20px 20px 0 0;
    margin-top: auto;
}

button:hover{
    background-color: var(--pakistan-green);
}

/* for js generated dom elements */
.mainBg{
    display: flex;
    flex-direction: column;

    background-color: var(--pakistan-green);

    height: 1000px;

    margin-top: 100px;

    margin-left: 400px;
    margin-right: 400px;

    padding: 30px;
}

.mainTitle{
    display: flex;

    align-items: center;
    justify-content: space-between;

    font-size: 5em;
    color: var(--cornsilk);
    background-color: var(--earth-yellow);

    gap: 20px;
    padding-right: 10px;

    border: 2px solid var(--cornsilk);
}

.log{
    background-image: url("./media/log.svg");

    width: 100px;
    height: 100px;

    background-size: contain;
    background-repeat: no-repeat;
}

.description{
    font-size: 2em;
    text-align: center;
    
    color: var(--cornsilk);

    background-color: var(--dark-moss-green);

    padding: 20px;

    flex: 1;
}

